[2018-05-07 21:18] kevinlin311tw opened #1 "ImportError: No module named roi_blob_transforms"
Thank you for releasing the codes.  After installing caffe2 and this repo, I would like to run the testing as below
[code]
However, I got the following errors.

[code]

It looks like there is a few missing files such as `roi_blob_transforms` and `debug_ops` in folder `ops`.

Could you please let me know how to solve this problem?

Thanks

[2018-05-07 21:35] rohitgirdhar commented on #1
Oh my bad. Added the files now. Thanks for pointing it out!

[2018-05-07 21:35] #1 closed, assigned to rohitgirdhar

[2018-05-16 07:21] guohengkai opened #2 "ImportError: No module named 'core.rpn_generator"
Hi, when I try to run the same command in #1 , an error occurs:
`ImportError: No module named 'core.rpn_generator'`
And I cannot find any codes with rpn_generator.

Thanks.

[2018-05-16 11:54] rohitgirdhar commented on #2
Sorry about that, added now.

[2018-05-16 11:54] #2 closed, assigned to rohitgirdhar

[2018-05-16 21:16] kaisark opened #3 "Compile some custom ops: math.h:19:22: fatal error: Eigen/Core: No such file or directory"
I have built caffe2 and detectron on GPU (Ubuntu 16 - AWS EC2) and both are working. I am trying to build DetectandTrack, but I am running into an affine_channel_nd_op.* compile error (see below). Caffe2 build was able to find Eigen (-- Found system Eigen at /usr/include/eigen3). What do you think is the issue here? Path Include?

(dl4cvcaffepy27) ubuntu@ip-172-31-0-76:~$ echo $LD_LIBRARY_PATH
/us

[2018-05-16 21:23] rohitgirdhar commented on #3
Can you try copying affine_channel_nd* files to caffe2/modules/detectron folder, re-building caffe2 and then running this code?

[2018-05-22 06:49] yannadani opened #4 "Testing Pre-Trained Models"
The following command does not seem to work atm because of the absence of the `best_model.pkl` file inside the `01_R101_best_hungarian.yaml` folder of `pretrained_models`.
`
python launch.py \
	--cfg configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml \
	--mode test \
	TEST.WEIGHTS pretrained_models/configs/video/2d_best/01_R101_best_hungarian.yaml/model_final.pkl
`

Do you suggest to use the 4

[2018-05-22 10:12] guohengkai opened #5 "2d_best model using FPN3D"
Hi,

In your yaml files in 2d_best, the conv body of model is "FPN3D.add_fpn_ResNet101_conv5_body". Is there something wrong with it?

Thanks!

[2018-05-22 11:53] guohengkai commented on #5
And the model_final.pkl is also the 3D model, which uses 7x7 kernel in the first layer.

[2018-05-22 18:50] rohitgirdhar commented on #5
It is just implemented using a 3D conv operation. The time dimension of that kernel is 1 (VIDEO.TIME_KERNEL_DIM = 1 in the config), which effectively makes the kernel 2D.

[2018-05-22 18:50] #5 closed, assigned to nobody

[2018-05-23 06:32] guohengkai commented on #3
@rohitgirdhar
It works for me. Thanks.

[2018-05-23 09:39] rohitgirdhar commented on #4
Thanks for your interest! I have added the model. Unfortunately I didn't have time to test it, so please let me know in case it doesn't work as expected. In any case, the 4GPU model produces slightly higher performance, so you can always use that.

[2018-05-23 09:39] #4 closed, assigned to rohitgirdhar

[2018-05-23 09:41] #3 closed, assigned to rohitgirdhar

[2018-05-24 03:04] RomeroBarata opened #6 "Detection and Tracking without Evaluation"
Hi,

Is it possible to extract the detected key points and tracking information without evaluating performance of the model? I'd like to use Detect and Track on a data set for which I don't have the ground-truth annotations. Thank you!

[2018-05-24 06:03] yannadani commented on #6
In addition to this, can you give pointers to detect keypoints and track them for a single video? Thanks.

[2018-05-25 13:24] paolomanchisi opened #7 "There's no eigen repository"
'https://github.com/RLovelett/eigen.git/
does not exists

Thank you.

[2018-05-29 22:55] Feynman27 opened #8 "ImportError: No module named libfb.py"
I'm hitting an import error when trying to test with:

[code]

[code]

Is this file missing from the repo?

[2018-05-30 05:41] rohitgirdhar commented on #8
Actually we don't use that import in this code anyway, so it can be safely commented out. I've updated the code.

[2018-05-30 05:41] #8 closed, assigned to rohitgirdhar

[2018-05-30 05:43] rohitgirdhar commented on #7
I am not sure how it is related to this codebase. Can you point how you run into this error?

[2018-05-31 13:52] kenny-kong-facemo commented on #7
I think we need eigen.git to build caffe2 from source.

[2018-05-31 13:59] rohitgirdhar commented on #7
That's a caffe2 issue. Please follow https://github.com/caffe2/caffe2/pull/2525 for updates.

[2018-05-31 13:59] #7 closed, assigned to rohitgirdhar

[2018-06-01 07:18] ghost opened #9 "Work on other version of gcc and cuda?"
I am too tired to swtich among multiple versions of gcc and cuda. Has anyone tested this code works on gcc5 + cuda8.0?

[2018-06-01 11:25] yannadani commented on #6
Ok, I have written a script which can now detect and track for a single video, without evaluating it. I can share it if lot of people require it.

[2018-06-01 11:28] RomeroBarata commented on #6
I think that it would be great if you could share it @yannadani!

[2018-06-01 11:29] rohitgirdhar commented on #6
Please feel free to open a pull request if you'd like! Thanks!

[2018-06-01 16:43] msarmiento3 commented on #6
It will be amazing @yannadani!

[2018-06-02 09:45] rohitgirdhar commented on #9
This code should work on pretty much any system that can compile/run Caffe2. If there are issues with compiling caffe2 on your setup, consider posting on the caffe2 issues.

[2018-06-02 09:45] #9 closed, assigned to nobody

[2018-06-03 09:57] yannadani commented on #6
Cool. I will submit a PR around this weekend when I'm free.

[2018-06-05 22:39] kaisark commented on #3
I tried the rebuilding caffe2 step already. Still not working...

"In case this does not work, an alternative is to copy over the lib/ops/affine_channel_nd_op.* files into the caffe2 detectron module folder (caffe2/modules/detectron/), and recompiling caffe2. This would also make this additional op available to caffe2."

(dl4cvcaffepy27) ubuntu@ip-172-31-0-76:~/pytorch$ find modules -name *affine*

[2018-06-22 00:42] jpdz opened #10 "How to visualize results"
Hi! We have some questions while trying to use the model.
We are unable to run the test script.
python launch.py \
	--cfg configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml \
	--mode test \
	TEST.WEIGHTS pretrained_models/configs/video/2d_best/01_R101_best_hungarian.yaml/model_final.pkl
The error is shown below
![472259587126319729](https://user-images.githubusercontent.com/21374582/41751437-1

[2018-06-23 16:23] rohitgirdhar commented on #10
As the message suggests, it's not able to find the pre-trained model at the expected location. Did you download the model and store at the location in the log message?

For visualization you can use/adapt `tools/visualize_results_v2.py`.

[2018-06-26 15:36] zhujiagang commented on #3
@kaisark  I modify the line` #include"Eigen/Core"` in ` caffe2/caffe2/utils/math.h  ` to ` #include"/path/to/caffe2/third_party/eigen/Eigen/Core"`, recompile, it worked. I guees it is a path finding problem.

[2018-06-26 18:34] jpdz commented on #10
Thank you for your answer. Finally I can visualize the results.
Here is another problem which is similar to the first issue, can you share the script which can now detect and track for a single video, without evaluating it?
Really appreciate~

[2018-06-26 18:56] jpdz commented on #6
@yannadani  Hi, I am really interested in how to detect and track for a single video, without evaluating it, can you share the scripts? Really appreciated!

[2018-06-26 20:07] rohitgirdhar commented on #10
Great. The other issue is tracked in https://github.com/facebookresearch/DetectAndTrack/issues/6.

[2018-06-26 20:07] #10 closed, assigned to nobody

[2018-06-27 07:24] zhujiagang opened #12 "Error when Testing pretrained model"
When I follow the command of Testing pre-trained models
[code]
Error occurs
[code]
I've googled a lot but could not find a answer.

[2018-06-29 04:49] cclauss opened #13 "Seven undefined names: probably missing imports"
Undefined names have the possibility of raising __NameError__ at runtime.

flake8 testing of https://github.com/facebookresearch/DetectAndTrack on Python 2.7.14

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-06-29 15:11] luhc15 opened #14 "issues on evaluation:"
when I run evaluation code, the  output results:Multiple Object Tracking (MOT) metrics:                               [798/1987]
& MOTA & MOTA & MOTA & MOTA & MOTA & MOTA & MOTA & MOTA & MOTP & Prec & Rec  \\
& Head & Shou & Elb  & Wri  & Hip  & Knee & Ankl & Total& Total& Total& Total\\
& 61.7 & 65.4 & 57.1 & 45.6 & 54.3 &  nan &  nan &  nan & 50.1 &  nan &  nan \\
INFO mpii_eval_engine.py: 289:

[2018-06-30 14:43] rohitgirdhar commented on #14
Are you using the correct library (numpy etc) versions? The evaluation code is not compatible with older versions.

[2018-06-30 15:03] rohitgirdhar commented on #13
These functions should not get called for any of the configs. This is just some unused code (was originally used for debugging/other experiments), but slipped past the cleanup. This should not affect the usability of the rest of the code. Feel free to reopen in case it does.

[2018-06-30 15:03] #13 closed, assigned to nobody

[2018-07-03 14:29] tlatlbtle commented on #12
The same error, need urgent reply.

[2018-07-03 17:01] rohitgirdhar commented on #12
As mentioned in the error message, the subprocess calls are failing. Have you tried running the command `tools/test_net.py --range 0 1477 --cfg outputs/configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml/test/posetrack_v1.0_val/keypoint_rcnn/detection_range_config.yaml NUM_GPUS 1` directly on the shell to see what error you get?

Unfortunately this seems to be dependent on specific shell/enviro

[2018-07-04 02:43] tlatlbtle commented on #12
Error message:
loading annotations into memory...
Done (t=0.45s)
creating index...
index created!
Video-fying the roidb: 100%|##########################################################################################| 5906/5906 [00:03<00:00, 1492.55it/s]
INFO video.py: 200: Video-fied roidb contains 5906 elements
WARNING cnn.py:  40: [====DEPRECATE WARNING====]: you are creating an object from CNN

[2018-07-04 03:46] zhujiagang commented on #12
@rohitgirdhar  Yes,
`python tools/test_net.py --range 0 1477 --cfg outputs/configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml/test/posetrack_v1.0_val/keypoint_rcnn/detection_range_config.yaml NUM_GPUS 1`
could work.
@wjbKimberly
It seems the code could not support multi-gpu setting and we need to comment the lines
https://github.com/facebookresearch/DetectAndTrack/blob/d66734498a4331cd6fde87d8

[2018-07-04 05:05] tlatlbtle commented on #12
@zhujiagang  Thanks a lot for your kind help!

[2018-07-04 08:34] rohitgirdhar commented on #12
The code should work with multi-GPU testing. In @wjbKimberly's case, it seems the additional ops (`AffineChannelNd`) has not been compiled ([instructions](https://github.com/facebookresearch/DetectAndTrack#compile-some-custom-ops)). Closing as it seems the issue is resolved.

[2018-07-04 08:34] #12 closed, assigned to nobody

[2018-07-05 23:02] jpdz commented on #6
Hi, I have questions about how to do real time tracking.
According to my understanding, we should first detect all of the persons in the image set, storing the model into the pickle file called 'detection.pkl'. And then we run the tracking code and store the tracking result into 'detection.tracking.pkl'. It seems like the two things can not happen synchronously. Is my understanding wrong? Thanks a

[2018-07-06 02:45] lihao056 opened #15 "a newbie question - can this model run in ubuntu 16.04?"
Thanks for your answer

[2018-07-06 07:06] luhc15 commented on #14
Version now used :
 numpy = 1.14.5  ;
pyymal = 3.12;
matplotlib=2.2.2 ;
 opencv-python = 3.4.0.12;
 setuptools=39.2.0;
Cython =0.28.2;
 mock = 2.0.0;
scipy = 1.1.0;
 h5py=2.7.1;
 momery_profile = 0.52.0;
  tqdm=4.23.2;
shapely=1.6.4.post1;
pandas=0.21.0;
CUDA=9.0, GCC=5.4 ; cuDNN = 7.0.5.
Only cuDNN version is lower than  needed,  I'll update it and check if it works correctly.

[2018-07-06 13:43] cppntn opened #16 "How can I integrate Detectron with this tracking algorithm?"
What parts of this repository do i need to interface the tracking part with the results obtained running detectron on video frames?

Thanks

[2018-07-06 19:35] rohitgirdhar commented on #6
Yes they can. The tracking can be done online, with the detector running frame by frame, and the tracker linking the tracks to the previous frame.

[2018-07-06 19:36] rohitgirdhar commented on #15
Yes it should run on most platforms that run Caffe2.

[2018-07-06 19:36] #15 closed, assigned to nobody

[2018-07-06 19:38] rohitgirdhar commented on #16
Most of the tracking code is contained in the [`lib/core/tracking_engine.py`](https://github.com/facebookresearch/DetectAndTrack/blob/master/lib/core/tracking_engine.py)

[2018-07-06 19:38] #16 closed, assigned to nobody

[2018-07-09 02:53] zhujiagang opened #17 "PoseTrack2017 upload failure"
I've used the code to get the predictions for the test set of PoseTrack2017. After getting 214 predicted json files, I zipped them and uploaded to the offical website. Errors are given as follows
[code]
But I have placed 214 predicted json files of test set at the root folder like

[code]
and zip it in ubuntu using the following command

`zip -r   results.zip     results/ `

or zip it directly in

[2018-07-09 08:42] zhujiagang commented on #17
I've solved the problem.  Try without having any result folder. Just compress the files directly (no subfolder). There should be *no folders* in the zip you submit to the server.

[2018-07-09 10:20] #17 closed, assigned to nobody

[2018-07-12 07:07] imnaren142 opened #18 "Regarding the type of objects for tracking."
Can we use this tracker for any type of objects or only for human body?? And is this the real time tracker?

[2018-07-12 16:20] rohitgirdhar commented on #18
This codebase is implemented for humans, but there's no reason for it to be limited to that. The same ideas apply to any object. The speed of the tracker is mostly limited by the detector; our best model used a Resnet-101+FPN based detector, which can be replaced by shallower networks that are much faster.

[2018-07-12 16:20] #18 closed, assigned to nobody

[2018-07-16 09:31] Sanketyeru opened #19 "simple way for trying demo"
1. could you please provide a simple command for trying this system. I do not want to train the model. I would like to Just test it on a video file and see the output. I am using your docker file for this.
2. I am on the system with the following description:
OS: Ubuntu 16.04
GPU: GTX 1070Ti (8Gb)
CUDA : 9
cuDNN : 7.0

I tried using all_requirements file to create new conda environment but out of

[2018-07-16 21:39] rohitgirdhar commented on #19
1. is tracked in https://github.com/facebookresearch/DetectAndTrack/issues/6
2. In case the specific versions are not available, you can try running with the latest versions.

[2018-07-16 21:39] #19 closed, assigned to nobody

[2018-07-17 02:01] Sanketyeru commented on #19
Can you please point to the specific file in this repo for only tracking and an example command so as to run tracking without evaluation

[2018-07-17 02:23] Sanketyeru commented on #6
Does anyone know where is code for **"detect and track for a single video, without evaluating it"**.?@yannadani, could you please share your code for detection and tracking without evaluation.

Thanks.

[2018-07-18 08:29] imnaren142 opened #20 "AttributeError: Method AffineChannelNd is not a registered operator. Did you mean: [AffineChannel]"
Traceback (most recent call last):
  File "tools/test_net.py", line 151, in <module>
    main(ind_range=args.range, multi_gpu_testing=False)
  File "tools/test_net.py", line 113, in main
    engine.test_net_on_dataset(multi_gpu=multi_gpu_testing)
  File "/home/chandu/workspace/tracking/DaT/lib/core/test_engine.py", line 321, in test_net_on_dataset
    all_boxes, all_segms, all_keyps = test_net()

[2018-07-18 10:47] rohitgirdhar commented on #20
Please read the error message: "Method AffineChannelNd is not a registered operator". You might want to look at the readme: https://github.com/facebookresearch/DetectAndTrack#compile-some-custom-ops

[2018-07-18 10:47] #20 closed, assigned to nobody

[2018-07-18 10:56] imnaren142 commented on #20
@rohitgirdhar  thanks for the reply I followed that step and the output is:

(gtracking) chandu@username:~/workspace/tracking/DaT/lib$ make && make ops
python2 setup.py develop --user
running develop
running egg_info
writing Detectron.egg-info/PKG-INFO
writing top-level names to Detectron.egg-info/top_level.txt
writing dependency_links to Detectron.egg-info/dependency_links.txt
reading manifest fi

[2018-07-19 03:12] tumble-weed opened #21 "change line in the installation instructions"
hi please change:
git clone https://github.com/rohitgirdhar/DetectAndTrack.git

to
git clone https://github.com/facebookresearch/DetectAndTrack.git

in the installation instructions

[2018-07-19 09:09] #21 closed, assigned to nobody

[2018-07-19 14:58] imnaren142 opened #22 "Problem in Testing Mode:Getting the error CallWithExceptionIntercept"
I0719 20:23:34.495332  4086 net_async_base.cc:435] Using specified CPU pool size: 4; NUMA node id: -1
I0719 20:23:34.495383  4086 net_async_base.cc:440] Created new CPU pool, size: 4; NUMA node id: -1
E0719 20:23:34.497113  4194 net_async_base.cc:368] [enforce fail at conv_op_cudnn.cc:557] filter.dim32(i + 2) == kernel_[i]. 7 vs 1 Error from operator:
input: "gpu_0/data" input: "gpu_0/conv1_w" out

[2018-07-21 05:25] imnaren142 opened #23 "Regarding One of the methods in "workspace.py"."
Where is run-net () and create_net() is located.(<built-in method run_net of PyCapsule object at 0x7f047a09cd20> & <built-in method create_net of PyCapsule object at 0x7f047a09ccf0>).
When run_net function gets called in the file "workspace.py" I am getting an exception and when I E
searched for the run_net method it's in "test loader.py" , but it's not entering there.RuntimeError:

**Exception is

[2018-07-21 06:19] #23 closed, assigned to nobody

[2018-07-21 06:19] #22 closed, assigned to nobody

[2018-07-23 10:08] StalonWilson commented on #22
@naren142 I have the same issue. Did you solve the problem?

[2018-07-23 10:30] StalonWilson commented on #22
I think this issue related to if the dimension of the weight is compatible to the used image size.

[2018-07-23 11:07] StalonWilson opened #24 "Test Data without Annotations"
First, thank you for the sharing.

Everything went well when I tested PoseTrackV1.0_Annots_val.
But when I tested the test data without detections' annotations, I got some errors:

"ERROR test_engine.py: 333: Evaluation crashed with exception No evaluator for dataset: "
I know this one is because of the lack of annotations.
After that, I got a detection.pkl file

But I can't use the detection file

[2018-07-24 05:26] imnaren142 commented on #22
@StalonWilson which model you are using for the testing purpose?? I have used the wrong model previously that's why there was in-compatability.

[2018-07-24 05:58] StalonWilson commented on #22
@naren142 You are right. I figured out this issue yesterday. Thank you for the kind reply!

[2018-07-24 06:49] imnaren142 commented on #22
@StalonWilson  Are you working on the training part of this?

[2018-07-24 06:53] StalonWilson commented on #22
@naren142 Not yet. I plan to work on the training phase next week because I need more memory space in GPU. Why?

[2018-07-24 06:57] imnaren142 commented on #22
@StalonWilson casually asking because I am working on it.

[2018-07-24 07:09] StalonWilson commented on #22
@naren142 No problem. Did you succeed running training part?

[2018-07-24 09:00] imnaren142 commented on #22
No....it's taking long with limited resources.

[2018-07-24 12:00] StalonWilson commented on #22
I understand...
Now I still stuck on testing my own data...

[2018-07-24 12:18] imnaren142 commented on #22
How are you doing that?

[2018-07-25 06:03] StalonWilson commented on #22
@naren142 Since my data has no annotation, so I set the annotation to empty, like this

Then I ran the launch.py with test mode, I got the error message as #24 .

Have you been successful to run the test mode with no annotation data?

[2018-07-25 07:17] imnaren142 commented on #22
No I didn't try to test it with own data.

[2018-07-25 08:12] StalonWilson commented on #22
It took a long time to me to understand how to run it properly.
But I still stuck on it.

[2018-07-26 09:11] StalonWilson commented on #24
This issue can be closed because of #25 .

[2018-07-26 09:11] #24 closed, assigned to nobody

[2018-07-31 03:49] Sanketyeru opened #27 "Unable to run any example code"
HI,
i have tried to run all the example codes like launch.py as well as tools/test_on_one_video.py.

Every time I am getting the same error.
Traceback (most recent call last):
  File "tools/compute_tracks.py", line 20, in <module>
    from core.config import (
ImportError: cannot import name cfg_from_file

can anyone please help me ?

[2018-07-31 07:47] ogata2606 commented on #27
I had same issue. And I solved the problem by adding PATH like "export PYTHONPATH=/$DetectAndTrack/lib:$LD_LIBRARY_PATH" to bashrc.

[2018-07-31 08:38] Sanketyeru commented on #27
May i know how did you compile and install detectandtrack. i tried all the steps on git page. but it throws the error saying few required packaged from requirement files does not exist.

[2018-07-31 12:46] rohitgirdhar commented on #6
#25 #26 resolve this issue.

[2018-07-31 12:46] #6 closed, assigned to nobody

[2018-07-31 14:34] ogata2606 commented on #27
I installed along with github Readme.md like you. The required package(cfg_from_file) is in $DetectAndTrack/lib/tools/config.py so, it needs PATH.  Did you through PARH?

[2018-08-01 05:15] imnaren142 commented on #22
Hi @StalonWilson do you know how to train this model on our own data?

[2018-08-01 05:24] StalonWilson commented on #27
@Sanketyeru
I had the same issue before. It disappeared after I copied the "affine_channel" files from ops to caffe2 detectron module folder by using

`cp lib/ops/affine_channel_nd_op.* caffe2/modules/detectron/`

and recompiled caffe2.

[2018-08-01 05:32] StalonWilson commented on #22
@naren142  Thank you for asking since I forgot to leave messages here. I haven't tried to train my own data but tested my own data without annotations successfully. So far, I can train the labeled data from PostTrack website. As to my own data..., I guess labelling is the most difficult part. So I don't have any idea of it.

[2018-08-01 05:48] imnaren142 commented on #22
@StalonWilson  Do you know how to do the annotations part? I didn't get this correctly.

[2018-08-01 06:00] imnaren142 opened #28 "Regarding training mode."
Hi, how to use the downloaded data to train the model? For training we don't have the "PoseTrackV1.0_Annots_val_json" folder?? Can you share the steps to reproduce the training part?

[2018-08-02 02:24] StalonWilson commented on #22
@naren142 I used PoseTrack data and its annotations provided by facebookresearch. Its annotations had been provided in repository of this website. I guess if we want to use the data from other sources, we need to first convert our .mat data to .json by `DetectAndTrack/tools/gen_posetrack_json.py` and add the dataset name in `DetectAndTrack/lib/datasets/json_dataset.py`. How do you think?

[2018-08-02 03:31] StalonWilson commented on #28
@naren142 You may try downloading these files from this [website](https://cmu.box.com/shared/static/gakn52qoxzfzrvmo4c0gfxt4ja1i4g0b.tar). Then, extract them and put them into a new folder `lib/datasets/data/PoseTrackV1.0_Annots_val_json` which created by you.

[2018-08-02 03:42] ogata2606 commented on #20
Me, too. I got same error. Did you solve it?

[2018-08-02 04:52] imnaren142 commented on #22
@StalonWilson Can you provide your email so that we can be in touch...!!!

[2018-08-02 04:56] imnaren142 commented on #28
@StalonWilson Hey i am talking about "ANN_DN" in  the json_dataset.py file.What should be the value there for training?? For validation part it is the folder "PoseTrackV1.0_Annots_val_json" right?

[2018-08-02 10:27] rohitgirdhar commented on #28
As mentioned in the [README](https://github.com/facebookresearch/DetectAndTrack#dataset-and-evaluation), this folder is only required for evaluation. It can have any arbitrary value while training.

[2018-08-02 10:27] #28 closed, assigned to nobody

[2018-08-02 10:34] rohitgirdhar commented on #20
Have you tried copying the files to detectron module folder as mentioned in the [README](https://github.com/facebookresearch/DetectAndTrack#compile-some-custom-ops)? (Also, in https://github.com/facebookresearch/DetectAndTrack/issues/27#issuecomment-409453279)

[2018-08-07 02:27] Marcovaldong opened #29 "Can we run test_on_single_video.py with 3D pretrained model?"
I tested the test_on_single_video.py with 3D pretrained model by running following command:
[code]
But got following error:
[code]
So can we run test_on_single_video.py with 3D pretrained model?@yannadani

[2018-08-09 01:12] yanxiangyi opened #31 "[Solved] Environment conflict: Caffe2 Compilation VS Conda Packages"
Caffe2 compilation requires **system** `protobuf`, `leveldb`, `gflags`, `opencv`, etc rather than those installed from **conda**. Please refer to [this issue](https://github.com/caffe2/caffe2/issues/1980) from `Caffe2`.

According to `README.md`, we install these packages by conda first, and then compile `Caffe2`, which will lead to errors like:

[code]

I've solved this problem by:

1. Add `-DCMA

[2018-08-09 16:53] rohitgirdhar commented on #31
Great, thanks for sharing!

[2018-08-09 16:53] #31 closed, assigned to nobody

[2018-08-09 17:15] rohitgirdhar commented on #29
Doesn't look like, but would be good to have. One thing to fix would be to read multiple frames [here](https://github.com/facebookresearch/DetectAndTrack/blob/0b612c126255d74cb346943cf1ad4d8157b68509/tools/test_on_single_video.py#L259).

[2018-08-09 18:05] yanxiangyi commented on #29
Same problem.

[2018-08-10 07:52] mathpopo opened #33 "ubuntu16.04 use /tools/test.py subprocess popen wait lock"
hi：
    i use ubunt16.04, use test_net.py to test the pretrained model.pkl,when run to subprocess.py ,subprocess popen to get the p and when "log_subprocess_output && i ==0",the p.wait lead to a lock,so "assert ret ==0",who can give me a suggestions?

[2018-08-10 19:31] yanxiangyi opened #34 "AttributeError: 'NoneType' object has no attribute 'astype'"
Hi @rohitgirdhar, I'm now trying to run the training code.

However, when I run this:

```python launch.py -c configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml```

The error is like:

[code]

[2018-08-10 22:26] yanxiangyi commented on #34
Solved. This is because the net is feed by no img data. Just following the `README.md` to use `tools/gen_posetrack_json.py` and changing paths in `lib/datasets/json_dataset.py` would solve this.

[2018-08-10 22:26] #34 closed, assigned to nobody

[2018-08-14 08:54] Marcovaldong opened #35 "RuntimeError: [enforce fail at pybind_state.cc:1096] success. Error running net keypoint_rcnn"
I tried to run the command to train the model by myself, then I got errors velow:

[code]

How can I fix it? I hope anyone's help, thanks very much. @rohitgirdhar

[2018-08-14 10:08] Marcovaldong commented on #34
@yanxiangyi How did you process data by tools/gen_posetrack_json.py? Why should not we use json files provided by the repo? TKS

[2018-08-14 12:32] rohitgirdhar commented on #35
Same as #34. Please set the path to the directory where the frames are stored in `json_dataset.py`.

[2018-08-14 12:32] #35 closed, assigned to nobody

[2018-08-14 12:33] #14 closed, assigned to nobody

[2018-08-14 12:34] #27 closed, assigned to nobody

[2018-08-14 12:38] rohitgirdhar commented on #33
The description is unclear. If this is still an issue, please re-open with a clear description of the steps you followed and the error you see.

[2018-08-14 12:38] #33 closed, assigned to nobody

[2018-08-15 01:27] Marcovaldong commented on #35
Yes, I found where the problem is by myself, then I fixed it.

[2018-08-15 08:48] mathpopo opened #36 "Range subprocess failed(exit code : 2)"
hi ~  i have a issue, could you help me ?
i run the commond in the README.md

'''''bash
python launch.py \
--cfg configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml \
--mode test\
TEST.WEIGHTS pretrained models/configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml/model_final.pkl
'''''''
but it has the log......,  i am using linux ubuntu16.04, and have 4 GPU (TITAN XP 11G)

********* it is log

[2018-08-15 08:51] mathpopo commented on #36
and i have run track commonds , they are OK, only test have the issue

[2018-08-15 08:53] mathpopo commented on #36
use command like below,all is right.
python launch.py
--cfg configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml
--mode track
......

[2018-08-15 09:34] mathpopo opened #37 "offending key: affineChannelNd"
when i run the test_on_sigle_video.py in README

it has a issue;

[code]

sorry !  i don't know why

[2018-08-15 09:49] Marcovaldong commented on #29
I finished the change, now I can run test_on_single_video.py  with 3D pretrained model (e.g. 03_R-18-3D_PTFromCOCO-4GPU-BATCH1.yaml). While the result looks worse than the result got through 2D pretrained model. Is it because that the 3D pretrained model's backbone network is ResNet18, while the 2D pretrained model is based on ResNet101? Can we get best 3D models based on ResNet101? @rohitgirdhar

[2018-08-16 10:36] heury commented on #29
How can you solve AssertionError? I have a same issue @Marcovaldong

[2018-08-16 12:36] Marcovaldong commented on #29
@heury I got the error when I try to run test_on_single_video.py when using 3D pretrained model. I added several code in the script, then fix it and run test_on_single_video.py with 3D pretrained model successfully.

I don't know how you got error, please show us your detail.

[2018-08-16 14:26] #36 closed, assigned to nobody

[2018-08-16 14:28] rohitgirdhar commented on #29
The 3D model is worse than the best 2D model due to smaller frames, shallow network etc. It should be better than the comparable 2D model though.

[2018-08-17 00:14] heury commented on #29
@Marcovaldong
I got exact same error you wrote. I also tried test_on_single_video.py with 3D pretrained model.

File "/data/zairan.wang/shiqi.dong/DetectAndTrack/lib/utils/image.py", line 85, in move_batch_to_time
    assert(blob.shape[0] % T == 0)

Can you share your modified code?

[2018-08-17 08:02] Marcovaldong commented on #29
@heury OK, I will open a pull request this weekend.

[2018-08-20 10:29] rohitgirdhar commented on #29
Resolved by #39

[2018-08-20 10:29] #29 closed, assigned to nobody

[2018-08-20 12:52] ezreal1129 opened #40 "About the dataset"
the  image datasets  PoseTrack 2018  and PoseTrack 2017,which one should be used?
I have downloaded the Annotation data “labels_v0.75”,and "test.tar"。so  how can the "gen_posetrack_json.py"  be used?

[2018-08-20 23:27] yanxiangyi opened #41 "Finetune on custom dataset"
Hi @rohitgirdhar, we can now run the code (both training and inference) perfectly on posetrack dataset. Thanks for this repo!

Currently, we would like to train the model on our custom dataset, which has different number of keypoints and photo sizes. We don't accutually want to train it from scratch. Could you please offer us some suggestions? Thanks!

[2018-08-21 06:08] imnaren142 commented on #18
So,will using a detector like yolo improve the time significantly  to run in real time?

[2018-08-21 08:10] ezreal1129 commented on #35
hi. @Marcovaldong ,i don't have the PoseTrackV1.0_Annots_train/test_json directory ,and the gen_posetrack.py only creat the posetrack_train/val/test.json.so how to get the PoseTrackV1.0_Annots_train/test_json directory . thank to get your help.

[2018-08-21 08:27] ezreal1129 commented on #35
@rohitgirdhar

[2018-08-21 08:27] ezreal1129 opened #42 "where is the PoseTrackV1.0_Annots_train/test_json directory ?"

[2018-08-21 08:29] yanxiangyi commented on #41
Problem solved. I will update this issue few days later.

[2018-08-21 08:29] #41 closed, assigned to nobody

[2018-08-22 05:23] #40 closed, assigned to nobody

[2018-08-22 08:04] #42 closed, assigned to nobody

[2018-08-22 08:51] ezreal1129 commented on #34
@yanxiangyi   i have the same problem,and i used the gen_posetrack_json.py  can you post your json_dataset.py? thanks a lot.

[2018-08-22 08:59] ezreal1129 commented on #35
@ i have same problem,how to you fixed it ,can you post your json_dataset.py?

[2018-08-22 10:03] ezreal1129 opened #43 "RuntimeError: [enforce fail at pybind_state.cc:1111] success. Error running net keypoint_rcnn"
i have same problem with #35 ,and my json_dataset.py as follow:
##############################################################
# Copyright (c) 2018-present, Facebook, Inc.
# All rights reserved.
#
# This source code is licensed under the license found in the
# LICENSE file in the root directory of this source tree.
##############################################################

from __future__ imp

[2018-08-22 15:38] yanxiangyi commented on #43
Same with #34 . This is because the net is feed by no img data. Just following the `README.md` to use `tools/gen_posetrack_json.py`.

Your `IM_DIR` should be the directory to your renamed images. For me, it's:
[code]

So on and so forth.

[2018-08-22 15:39] yanxiangyi commented on #34
Same with #34 . This is because the net is feed by no img data. Just following the `README.md` to use `tools/gen_posetrack_json.py`.

Your `IM_DIR` should be the directory to your renamed images. For me, it's
[code]
and so on so forth.

[2018-08-23 11:06] ezreal1129 commented on #43
@yanxiangyi  i fix it ,thank you very much

[2018-08-23 11:06] #43 closed, assigned to nobody

[2018-08-23 11:15] ezreal1129 commented on #36
@mathpopo  can you fixed it?

[2018-08-28 17:59] cheind opened #44 "py-motmetrics"
Hi, very nice work! Just discovered that deeply in your code you are refering to this library for pose evaluation  https://github.com/cheind/py-motmetrics. Which happens to be a library of mine. It seems like you got it via https://github.com/leonid-pishchulin/poseval/, who refers to it via a submodule. This referall has been lost in your code copy. Would you mind noting a link to the original rep

[2018-08-28 23:12] mathpopo commented on #36
@ezreal1129 sorry,not deal with it,if you have any idea,plz tell me,thanks!

[2018-09-07 18:50] #44 closed, assigned to nobody

[2018-09-07 18:50] rohitgirdhar commented on #44
Sure, done.

[2018-09-08 05:29] cheind commented on #44
Thanks! One thought: you are mentioning a multi-process optimization for faster processing. Not sure what the slow part of the evaluation was, but py-motmetrics supports different solvers for LAP problems. By default scipy is used, but faster variants such as https://github.com/cheind/py-lapsolver are available. In case you want to try out, just `pip install lapsolver` and re-run your evaluation.

[2018-09-08 13:33] codergg4393 opened #45 "Is this possible?"
Hey,

This is more of a question than an issue. Feel free to delete this if it's not the right place. I want to know, how can I actually detect and track a specific part of the body, say a tshirt and be able to add something on top of it.

So for example, adding a logo (image) on actor's tshirt in such a way where it looks like the actor is actually wearing a shirt with the logo on it (so the logo

[2018-09-09 16:59] rohitgirdhar commented on #45
This code can help you track the keypoints of the person, so you would be able to track the torso, legs and so on. You could use that information to overlay stuff onto the video such that it moves with the person. You could also use the 4 torso keypoints (left/right shoulder/hip) to transform the logo such that it looks like it's on the t-shirt.

[2018-09-09 16:59] #45 closed, assigned to nobody

[2018-09-11 08:31] ezreal1129 opened #46 "about the test"
1. My data is only ground truth, no keypoints.so can i test the pre-model?
2. The key point of the data results is how to form the boundingbox data, because I can only use the boundingbox to evaluate.

[2018-09-12 02:54] kaisark commented on #3
@zhujiagang Thanks. I moved on to the FB Densepose project but thought I would come back and get this to work. I fully qualified path to Eigen to get around the /usr/local/include/caffe2/utils/math.h compile error.

#include "/home/ubuntu/pytorch/third_party/eigen/Eigen/Core"
#include "/home/ubuntu/pytorch/third_party/eigen/Eigen/Dense"

Now I am running into an nvcc related compile error:

(dl4cv

[2018-09-12 04:35] kaisark commented on #3
I edited cmake/Cuda.cmake and commented out the following line which seemed to solve the issue:

###list(APPEND CUDA_NVCC_FLAGS "-std=c++11")

------------------------------
(dl4cvcaffepy27) ubuntu@ip-172-31-0-76:\~/DetectAndTrack/lib$ make clean
(dl4cvcaffepy27) ubuntu@ip-172-31-0-76:\~/DetectAndTrack/lib$ make VERBOSE=1
/usr/bin/cmake -H/home/ubuntu/DetectAndTrack/lib -B/home/ubuntu/DetectAndTra

[2018-09-13 03:15] kaisark commented on #3
I downloaded the pretrained models and ran the test_on_single_video.py script. 2D Code seems to work though the results for the head/face seem a little off to me as compared to CMU openface project (might be an issue with the pretrained model).

python tools/test_on_single_video.py          --cfg configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml          --video path/to/video/walkermovie.mp4

[2018-09-13 14:47] rohitgirdhar commented on #46
Yes, please try [`tools/test_on_single_video.py`](../tree/master/tools/test_on_single_video.py) to test pretrained models, which doesn't need any GT annotation.

[2018-09-13 14:47] #46 closed, assigned to nobody

[2018-09-13 14:49] rohitgirdhar commented on #37
Please refer to steps suggested in previous issues regarding this, eg. https://github.com/facebookresearch/DetectAndTrack/issues/20, https://github.com/facebookresearch/DetectAndTrack/issues/27#issuecomment-409453279

[2018-09-13 14:49] #37 closed, assigned to nobody

[2018-09-15 08:01] ezreal1129 commented on #46
@rohitgirdhar  Thank you ,but  how should i evaluate the rusult of test_on_single_video.py

[2018-09-17 01:11] kaisark opened #47 "How To Question: Change Background to Black"
I tested with the test_on_single_video.py script and everything is working, but I wanted to know what is the quickest way to change the background to black so that only the keypoints are seen? Does vis.py (vis_one_image_opencv) need to be modified?

Example below is with openpose...

Thanks.

![openopose gif-downsized_large](https://user-images.githubusercontent.com/3580312/45603278-c3096180-b9f8-

[2018-09-18 03:17] kaisark commented on #47
I found a solution. I added a line of code to _vis_single_frame in the test_on_single_video.py script.

def _vis_single_frame(im, cls_boxes_i, cls_segms_i, cls_keyps_i, cls_tracks_i, thresh):
    im = np.zeros(im.shape) #kkhatak - line of code added to make background black ###
    res = vis_utils.vis_one_image_opencv(
        im, cls_boxes_i,
        segms=cls_segms_i, keypoints=cls_keyps_i,

[2018-09-18 16:48] #47 closed, assigned to nobody

[2018-09-19 07:17] Duankaiwen opened #48 "PackagesNotFoundError: The following packages are not available from current channels: - libiconv==1.15=0"
**conda create -c conda-forge --name $ENV_NAME --file all_pkg_versions.txt python=2.7 anaconda**
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - libiconv==1.15=0

Current channels:

  - https://conda.anaconda.org/conda-forge/linux-64
  - https://conda.anaconda.org/conda-forge/noarch
  - https://mirrors.tuna.tsinghua.edu.cn/an

[2018-09-19 11:53] rohitgirdhar commented on #48
Please try a newer version of the package. The provided list is only a reference, the code should ideally be compatible with the newer versions as well.

[2018-09-19 11:53] #48 closed, assigned to nobody

[2018-09-19 12:31] Duankaiwen commented on #48
Many thanks！

[2018-09-20 08:04] Duankaiwen opened #49 "No module named peachpy.x86_64"
/home/kwduan2/sdb/anaconda2/envs/detect_and_track/bin/python: No module named peachpy.x86_64
confu-deps/NNPACK/CMakeFiles/nnpack.dir/build.make:61: recipe for target 'confu-deps/NNPACK/src/x86_64-fma/2d-fourier-8x8.py.o' failed
make[2]: *** [confu-deps/NNPACK/src/x86_64-fma/2d-fourier-8x8.py.o] Error 1
CMakeFiles/Makefile2:205: recipe for target 'confu-deps/NNPACK/CMakeFiles/nnpack.dir/all' failed

[2018-09-21 01:43] #49 closed, assigned to nobody

[2018-09-23 11:53] codergg4393 commented on #45
That's excellent. Couple quick questions though.

1) You said I will need to overlay stuff, so the code for overlaying stuff is included? Or I'll need to find that elsewhere?

2) Also, you mentioned using 4 key points to transform the logo such that it looks like it's on the t-shirt. Is the code for transformation included as well?

3) Does this work only for human bodies? Is there a way for me to

[2018-09-23 21:35] rohitgirdhar commented on #45
1. It's not.
2. It's not. You might want to look for homography transformations.
3. This was trained for human bodies.

[2018-09-25 15:04] Duankaiwen opened #50 "what does "pads=2 * [0, 3, 3], strides=[1, 2, 2]" mean in 3D convolution?"
pads=2 * [0, 3, 3] =  [0, 3, 3, 0, 3, 3], why does it has 6 dimensions, what does "0" mean? what does "1" mean in " strides=[1, 2, 2]"?

[2018-09-26 02:38] Duankaiwen opened #51 "what's model.TimePool('rpn_cls_logits_1', 'rpn_cls_logits', pool_type='avg')?"

[2018-09-26 03:58] #51 closed, assigned to nobody

[2018-10-11 03:17] my-hello-world opened #52 "Is caffe2 conflicting TensorFlow？"
hello,
To avoid conflicting packages, I can create a new environment in conda, and install all the requirements in there。But can i  install caffe2 in the environment like my-ENV_python2???
build on:
- ubuntu14.0.4
- cuda 8.0 cudnn 7.0
- anaconda3 python3.5
- env anaconda: python2.7.13

Thanks!

[2018-10-17 15:35] sophia-wright-blue opened #53 "Repo for action recognition"
Thank you for releasing this repo. Could you point me to a repo or some code that uses Detect-and-Track for subsequent action recognition?

Thank you,

[2018-10-24 00:01] intvo opened #54 "Train using my own dataset"
Hello,
How can I train the model using my own dataset?
Please explain how to do that.
thank you

[2018-10-31 01:31] wangpichao opened #55 "/usr/local/caffe2_build/include/caffe2/utils/math.h:36:22: fatal error: Eigen/Core: No such file or directory"
I tried to install DetectAndTrack from source, but failed, thus I turned to Dockerfile, and successfully installed caffe2 and DetectAndTrack. All the test passed until I the train module:python launch.py -c configs/video/2d_best/01_R101_best_hungarian.yaml -m train, and it saysAttributeError: Method AffineChannelNd is not a registered operator. Did you mean: [AffineChannel]. I investigated this pr

[2018-10-31 21:33] wangpichao opened #56 "Could you update the installation using the new caffe2 and detectron?"
Could you update the installation using the new caffe2 and detectron?

[2018-11-01 22:43] jiapei100 opened #57 "nvcc fatal : redefinition of argument 'std'"
[code]

[2018-11-03 04:25] jiapei100 commented on #57
Problem solved...

- Try to find out all **--std=c++11** and removed
- CUDA_NVCC_FLAGS                  -I/opt/intel/mkl/include

[2018-11-03 04:25] #57 closed, assigned to nobody

[2018-11-22 08:55] chunniunai220ml commented on #27
@rohitgirdhar Have you solved the problem?
I find that the core.config include in lib, and from __future__ import the absolute_import ,
so i  try the line : from lib.core.config import...,  but errors as follow:

Traceback (most recent call last):
  File "tools/compute_tracks.py", line 20, in <module>
    from lib.core.config import (
ImportError: No module named lib.core.config

I don't quite und

[2018-11-23 09:14] chunniunai220ml commented on #57
@jiapei100
which file did you change ?  I did not find the code line in lib/CMakeLists.txt

[2018-11-25 10:20] my-hello-world commented on #48
hello
i try  `conda install libiconv` in the env. Got  libiconv==1.14。
but i got new problems after changed it.
`Solving environment: failed

UnsatisfiableError: The following specifications were found to be in conflict:
  - blas==1.1=openblas
  - numexpr==2.6.4=py27hd318778_0 -> blas=[build=mkl]
Use "conda info <package>" to see the dependencies for each package.`

 As suggested, by the error pro

[2018-11-26 06:56] Duankaiwen commented on #48
Try to comment the package ‘numexpr’, then run the code, if the code can still work fine, the problem can be ignored. I've encountered similar problems, and comment some problematic packages, I found the code still works fine. If this doesn't work, you'd better use libiconv=1.15=0. Good luck!

[2018-11-27 11:26] ccssmania opened #59 "ImportError: No module named cython_bbox"
Hi, when I try to run the same command in #1 , an error occurs:
ImportError: No module named cython_bbox.
And the file is already there

Thanks.

[2018-11-27 13:56] #59 closed, assigned to nobody

[2018-11-29 09:20] my-hello-world commented on #27
hello,help please.
how you recompiled caffe2.?some advices?

Actually I don't want to recompile caffe2 unless there is no other solution. I installed it very hard. hahh

[2018-11-30 02:17] my-hello-world commented on #36
@mathpopo  @ezreal1129
python launch.py -c configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml -m test USE_NCCL True

The error disappeared ,This will require Caffe2 to have been built with nccl ops

[2018-11-30 08:55] my-hello-world commented on #35
`  File "/home/vivian/HelloWorld/tracker/DetectAndTrack/tools/gen_posetrack_json.py", line 216, in _convert_mat_to_COCO_json
    with open(out_path, 'w') as fout:
11 -> 9
IOError: [Errno 2] No such file or directory: u'lib/datasets/lists/PoseTrack/v1.0/posetrack_test.json'
`

hello？？ you has fixedit，right？

[2018-11-30 09:15] my-hello-world opened #60 "RuntimeError: [enforce fail at init.cc:88] success. Failed to run some init functions for caffe2."
[code]

[2018-12-02 11:59] my-hello-world commented on #20
HI ，same error，

`$ python tools/test_net.py --range 0 1477 --cfg outputs/configs/video/2d_best/01_R101_best_hungarian-4GPU.yaml/test/posetrack_v1.0_val/keypoint_rcnn/detection_range_config.yaml NUM_GPUS 1
Found Detectron ops lib: /home/vivian/HelloWorld/tracker/tools/pytorch/build/lib/libcaffe2_detectron_ops_gpu.so
[E init_intrinsics_check.cc:43] CPU feature avx is present on your machine, but th

[2018-12-02 12:02] my-hello-world commented on #12
我还是一样的错误哎，有没有其他的建议了啊

[2018-12-04 03:37] chunniunai220ml commented on #18
@naren142  Have you  improved the time significantly to run in real time by yolo V3? so we should train the model from scratch?

[2018-12-04 03:53] chunniunai220ml opened #61 "how to improve the model for real time tracker?"
Hi,
I have run the  code on custom single video, and got satisfactory results, but it is time-consuming(about 2 fps for 720*720 frame on K80) for real time tracker.
So  I wonna know how to improve the model for real time tracker?for example, using a detector like yolov3 (we should train the model from scratch?)
In addition, do you try add the const type=='person_reid' method in the _compute_distan

[2018-12-07 08:08] my-hello-world opened #62 "some errors when train,Can someone help me?please ：)"
(becasue i get the error #20 ,and i cannot modified it ) , i changed `CONV_BODY: FPN3D.add_fpn_ResNet101_conv5_body` to `CONV_BODY: FPN.add_fpn_ResNet101_conv5_body`
and NUM_GPUS: 2
when I run this:
python launch.py -c configs/video/2d_best/my_01_R101_best_hungarian-**2GPU**.yaml

i have same errors like #35

`WARNING workspace.py: 192:   File "/home/vivian/HelloWorld/tracker/DetectAndTrack/lib/mo

[2018-12-07 12:57] my-hello-world commented on #43
@ezreal1129 @yanxiangyi   can you help me?  my issue as #62   thanks~

[2018-12-20 15:44] brezaei commented on #20
I have the same problem when running "test_on_single_video.py"
error is : Key already registered.
Offending key: AffineChannelNd.

it was working fine, after I recompile the caffe2 with USE_LMDB=ON I got this error.
I even removed all the caffe2 related installed files from anaconda, copied affine_channel_nd_op* to the ./modules/detectron  and ran a clean caffe2 build did not help.

[2019-01-12 11:45] GarrickLin opened #66 "libcaffe2_detectron_custom_ops_gpu.so: undefined symbol: _ZN6caffe236FLAGS_caffe2_report_cpu_memory_usageE"
I have finished compiling, and it raised error `libcaffe2_detectron_custom_ops_gpu.so: undefined symbol: _ZN6caffe236FLAGS_caffe2_report_cpu_memory_usageE` after I ran `python tests/test_zero_even_op.py`.

[2019-01-12 20:31] kaisark commented on #55
@wangpichao  I ran into something similar and was able to resolve the issue. Please take a look at the following issue thread:

[https://github.com/facebookresearch/DetectAndTrack/issues/3#issue-323789883](https://github.com/facebookresearch/DetectAndTrack/issues/3#issue-323789883)

[2019-01-21 12:54] meetdave06 commented on #41
@yanxiangyi  I am also trying to do something similar. Could you please share your approach?

[2019-01-25 07:14] Aniruddha3395 commented on #57
Worked for me as well! Thanks!

[2019-02-12 21:29] kathanvyas commented on #59
were you able to solve this issue?
@ccssmania

[2019-03-05 14:01] harrisonford opened #67 "Any Tensorflow port around?"
Hi, is there any Tensorflow fork of this work? Great work by the way !

[2019-03-13 02:57] tesla2349 opened #68 "qUESTION rEGARDING THE OUTPUT OF THE aLGORITHM"
hELLO,
i have ran the algorithm and its working perfect. My question in related to the output. We get two pickl files after the processing. One has "with_detections" which I am assuming to be one containing key-points. what is the other generated pickl file?

[2019-04-13 07:29] DonaldKam opened #69 "No 3D ResNet50 pretrained model to test"
Thanks for the codes first！And I have a few questions:
1.How can i get the 3D ResNet50 pretrained model to test on the  3D ResNet50, as is mentioned in the paper：“Replacing ResNet-50 in Mask R-CNN with Resnet-101 gave us about 2% improvement in MOTA”.
2.As i found “e2e_keypoint_rcnn_R-101-FPN_1x_trainedCOCO.pkl” ,which is imported as Train Weights（in 2D yaml）in the pretrained model file，I wonder w

[2019-04-15 06:06] DonaldKam commented on #14
@luhc15
Could you plz answer my question if you have test Rohit Girdhar's "DetectandTrack" on yourself?
1.How can i get the 3D ResNet50 pretrained model to test on the 3D ResNet50, as is mentioned in the paper：“Replacing ResNet-50 in Mask R-CNN with Resnet-101 gave us about 2% improvement in MOTA”.
2.As i found “e2e_keypoint_rcnn_R-101-FPN_1x_trainedCOCO.pkl” ,which is imported as Train Weights（in

[2019-04-15 21:04] rohitgirdhar commented on #69
3D experiments were done with ResNet 18. The line from the paper is with regards to 2D models where we experiment with R-50/101.

[2019-04-15 21:04] #69 closed, assigned to nobody

[2019-04-25 23:24] WuZhuoran opened #70 "AssertionError: Custom ops lib not found at '/detectandtrack/lib/build/libcaffe2_detectron_custom_ops_gpu.so'"
When I try to use `test_on_single_video.py`, I get the following error.

[code]

Error:

[code]

Also, i got error during `make ops`, but it is optional so I just skip.
The make error is:

[code]

I want to know if this is caffe2 version problem. Thank you.

[2019-04-28 10:58] dengyang1 commented on #60
have you solve this problem? I meet same problem.

[2019-05-13 20:21] kathanvyas commented on #41
hey @yanxiangyi could you please share how you did that? we are trying to do the same however we are running into some errors. I would appreciate your help.

[2019-07-29 08:45] lxtGH opened #71 "Question ahout your paper"
Hi! Thanks for your repo. I have serveral question.
1. The best performance in the paper is 2D-Mask-RCNN not 3D-mask-rcnn?
2. In table6, what are results of 3D-Mask-RCNN with ResNet50/101 as Backbone?

[2019-07-29 16:28] rohitgirdhar commented on #71
Hi, thanks for your interest.
1. Overall compared to state of the art, yes.
2. No, those are with ResNet 18 (says in the caption).

[2019-07-29 16:28] #71 closed, assigned to nobody

[2019-08-09 14:24] akirazhao opened #72 "all_pkg_versions.txt issues"
Hi,
    when I use followed command "conda create --name $ENV_NAME --file all_pkg_versions.txt python=2.7 anaconda", there will be a lot of conflicts.

[2019-08-14 04:29] zyxforever commented on #52
Have you created the environment?

[2019-09-02 14:42] iamaneet opened #73 "[Question] License of pre-trained models"
Hello, great work!
Are the files on https://cmu.app.box.com/s/qn5dnrv6pvrolcr16buxk28ctoizinu8 Apache-2.0-licensed, as well as the source code?
Thank you.

[2019-09-09 08:48] hasirk commented on #72
I too face the same problem. After that even trying with conda-forge still there are lots of conflicts.

Is it possible someone to post the network model (print the model) for 3D Mask R-CNN for COCO data to try this in pytorch ?

I want to learn how the 3D model is designed. Any help is greatly appreciated.

[2019-10-04 14:47] Juggernaut93 commented on #70
I get the same error while building the Docker image. There are probably cmake files missing in this repo (legacymake.cmake).

[2019-10-08 07:49] zyxforever commented on #5
Excuse me，I think the  final feature map output of the base 3D network for a T*H*W input is T*H/16*W/16 after 4 residual block. What's wrong with me?

[2019-12-05 13:16] ks322181 opened #74 "Cudnn version and cuda version"
i have cuda 9 and cudnn version 7. Is this algorithm will work on that specific version. Or is it compulsory to have cudnn 7.1.2

Thanks in advance

[2019-12-09 13:58] ks322181 opened #75 "caffe2 does not have detectron module"
I tried to install caffe2 through pytorch. caffe is installing, When i am checking it is giving caffe is True. But caffe2 does not have detectron module.

make ops is throwing an error. So i wanted to copy file from lib to caffe2/module/detectron. But i didn't find it any where. Can anyone help me to resolve this..

Thanks in Advance

[2019-12-12 14:49] ks322181 commented on #3
i don't have detectron module in caffe2 folder.  caffe2 is installed through pytorch and installation is proper. but i don't have detectron module in caffe2 folder.

[2019-12-13 18:33] no-Seaweed commented on #72
I am suffering the same issue here.

Here are the outputs I have.

Any help is appreciated!

[2019-12-16 07:03] Vijaya-25 opened #76 "Caffe error"
/usr/bin/ld: cannot find -lcaffe2_library
Ld return 1 exit status

I am working in virtual environment

Thanks in advance

[2019-12-16 12:03] williamdwl commented on #75
I have the same problem，Do you solve the problem？ I need help

[2019-12-17 03:12] williamdwl commented on #60
I meet the same problem

[2019-12-17 06:39] williamdwl commented on #75
I salved by modified the following step:
first step:
find where is libcaffe2_detectron_ops_gpu.so
[code]
then I modify the env.py by

[code]

[2019-12-17 06:44] williamdwl commented on #66
I met the same problems.

[2019-12-17 07:55] williamdwl commented on #66
I solved!
https://github.com/facebookresearch/DensePose/issues/119#issuecomment-429372097

[2019-12-17 07:58] williamdwl commented on #66
I solved !
In /path/to/DetectAndTrack/lib/CMakeLists.txt, Add a few lines in the beginning:
[code]
You can find two target_link_libraries lines in this file(they are not adjacent):
[code]
Edit the two lines, adding a "libprotobuf" at the end to each of them:
[code]

[2019-12-17 16:44] ks322181 commented on #72
I too have the same issue

Need help.

[2019-12-18 15:27] ks322181 commented on #75
Hi,

Were you able to execute it . I have tried this but it still didn't fixed my error.

[2019-12-23 14:44] b3326023 commented on #72
I have the exactly same issue

[2019-12-23 16:13] ks322181 commented on #75
Are you able to run the algorithm?

[2020-01-08 13:34] #75 closed, assigned to nobody

[2020-01-08 13:35] #74 closed, assigned to nobody

[2020-01-08 13:36] ks322181 commented on #72
you can try this algorithm without using anaconda try to install virtual environment using pip

[2020-01-29 15:55] #76 closed, assigned to nobody

[2020-02-05 07:15] aFewThings opened #77 "[Question] cls and reg loss of the TPN are same with loss layers of the Classification Head?"
Hi, I have a question about the paper.
At Fig 2., It seems that losses of TPN and Classification Head are same.
If they are not, what is the purpose of Classification Head?

[2020-02-05 22:22] rohitgirdhar commented on #77
Hi, the losses are not exactly the same; they are comparable to how the losses in stage 1 (RPN) and stage 2 (classification/bounding box regression) in mask r-cnn are defined. I'd recommend looking at [Mask R-CNN](https://arxiv.org/abs/1703.06870) or [Faster R-CNN](https://arxiv.org/abs/1506.01497) for more details.

[2020-02-05 22:22] #77 closed, assigned to nobody

[2020-02-06 06:27] aFewThings commented on #77
Thx, but I still have question.
In the Faster R-CNN, the Classification Head had cls and reg layer which were for refining bbox and classifying categories of objects.
If so, why 3D Mask R-CNN still have cls layer to classify categories of objects like the Faster R-CNN for object classification?
Isn't it enough to have the Keypoints Head for pose estimation or tracking task?

[2020-03-27 08:08] gowna-m commented on #72
you can use $conda config --add channels conda-forge to add the alternate channels.

[2020-06-25 21:05] littlejuyan commented on #72
I have the same issue even after adding the channel. There seems to be some conflicts between the packages listed in the all_pkg_versions.txt. Can someone help with this??